{:paths ["src"]
 :deps {tensegritics/clojuredart
        {:git/url "https://github.com/Stephen-J/ClojureDart.git"
         :sha "5ab2d25958e6c9feddcb48494740fce7de722a0e"}}
 :aliases {:cljd {:main-opts ["-m" "cljd.build"]}}
 :cljd/opts {:kind :dart
             :main acme.main}}
